
  .game {
    font-size: 1em;
  }
  .select {
    display: flex;
    justify-content: center;
  }
  .select__button {
    appearance: none;
    border: none;
    background-image: linear-gradient(45deg, rgb(110, 110, 110), white);
    padding-left: 15vw;
    font-size: 14px;
    width: 50vw;
    height: 40vh;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5);
  }
  .select__buttonStart {
    border: none;
    background-image: linear-gradient(315deg, rgb(110, 110, 110), white);
    font-size: 14px;
    width: 50vw;
    height: 40vh;
    box-shadow: 1px 5px 10px rgba(255, 255, 255, 0.5);
  }
  .info {
    border-bottom: 3px groove silver;
    border-radius: 15px;
    padding-bottom: 10px;
  }
  .info__header {
    font-size: 1em;
    margin: 1em;
  }
  .info__text {
    font-size: 0.8em;
  }
  
  .info__button {
    padding: 6px 12px;
    font-size: 10px;
    width: 100px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
  }
  .speaker {
    margin: 5px;
  }
  .results_list {
    margin: auto;
    max-width: max-content;
    text-align: left;
    padding: 0px 8px;
    margin-top: 10px;
  }
  .results_list__item {
    padding: 8px;
    border-bottom: 2px outset;
    border-radius: 15px;
  }
  .results {
    overflow: hidden;
    transition: transform 0.5s ease;
    transform-origin: bottom;
    transform: translateY(-100%);
  }
  .visible {
    transform: translateY(0);
  }

  .map__button{
  padding: 20px;
  }
  .map__link{
  text-decoration: none;
  color: black;
  font-size: 1em;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}
.addPlayer{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);

}
.addPlayerInput{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}
.addPlayerButton{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}